import { Entity, Field, createSchema,Inject, Repository } from "mongoose-orm";
import { Document } from "mongoose";
import { Connections } from "@Constants/connections";

@Entity<<%= name %>>({})
export class <%= name %> extends Document {
}

export const <%= name %>Schema = createSchema(<%= name %>);

@Inject({ connection: Connections.default, schema: <%= name %>Schema })
export class <%= name %>Repository extends Repository<<%= name %>> {}
