import { Entity, Field, createSchema } from "mongoose-orm";
import { Document } from "mongoose";

@Entity<<%= name %>>({})
export class <%= name %> extends Document {
}

const <%= name %>Schema = createSchema<<%=name%>>(<%= name %>);

export { <%= name %>Schema };